/* 
  file name staring with "_" s
  way to tell SCSS processor to compile[to css] this file 
  if imported by any other file which is not starting with _ 
*/

@import './colors.scss';

// after using scss
.navbar {
  padding: 10px 30px;

  .navbar-brand {
    color: $main-app-color;
  }

  .nav-items {
    font-size: 18px;
  }

  .nav-item  {
    .nav-link {
      &:hover{
        color: $main-app-color;
      }
    }
  }

  .form-inline {
    .btn-outline-success {
      border-color: $main-app-color;
      color: $main-app-color;

      &:hover, &:active, &:focus {
        background-color: $main-app-color;
        color: white;
        box-shadow: none;
      }
    }
  }

}


// normal css file
// .navbar .navbar-brand {
//   color: rgb(93, 209, 218);
// }

// .navbar .nav-items {
//   font-size: 18px;
// }

// .navbar .nav-item .nav-link:hover {
//   color: aquamarine;
// }